body {
    display: flex;
    flex-direction: row;
    background: #ebebeb;
    padding: 55px 0 0 80px;
    max-width: 1650px;

    font-family: Helvetica;
}

h1,
h2 {
    font-weight: normal;
    border-bottom: 2px solid #2b2b2b;
    margin: 0;
    padding: 10px 0;
}

button {
    border: 0 none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-transform: inherit;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

main {
    display: flex;
    flex-direction: column;
    width: 430px;
    max-height: 500px;
}

.profile {
    display: flex;
    justify-content: space-between;
}

.profile > * {
    flex-shrink: 0;
    width: 200px;
}

.main-bottom {
    margin-top: auto;
}

aside {
    flex-grow: 1;
}

.photos::after {
    content: '';
    display: block;
    clear: both;
}

.photo {
    background-position: center;
    background-size: cover;
    max-width: 248px;
    width: 100%;
    float: left;
    border: 12px solid #fff;
    margin: 20px;
}

.photo > .spacer {
    display: block;
}

.photo.active {
    border-color: #ffa503;
}

.load-more {
    display: block;
    margin: 40px auto;
    padding: 12px 20px;
    background: #aaa;
}

@media screen {
    [contenteditable="true"] {
        background: rgba(0, 0, 0, .02);
    }
}

@media print {
    @page {
        size: landscape;
    }

    body {
        width: 1650px;
        background: #ebebeb !important;
    }

    body,
    .photo {
        -webkit-print-color-adjust: exact !important;
    }

    form,
    .load-more,
    .photo {
        display: none;
    }

    .photo.active {
        display: block;
        border-color: #fff;
    }
}
