body {
    display: flex;
    flex-direction: row;
    background: #ebebeb;
    margin: 50px 80px 0 80px;
    max-width: 1587px;
    font-family: Helvetica;
}

h1,
h2 {
    font-weight: normal;
    border-bottom: 2px solid #2b2b2b;
    margin: 0;
    padding: 10px 0;
}

button {
    border: 0 none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-transform: inherit;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

main {
    display: flex;
    flex-direction: column;
    width: 430px;
    max-height: 720px;
    flex-shrink: 0;
}

main > * {
    flex-shrink: 0;
}

.profile {
    display: flex;
    justify-content: space-between;
}

.profile > * {
    flex-shrink: 0;
    width: 200px;
}

.main-bottom {
    margin-top: auto;
}

aside {
    flex: 0 1 100%;
    padding-left: 50px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.photo-container {
    box-sizing: border-box;
    padding: 20px;
    width: 272px;
}

.photo {
    display: block;
    max-width: 100%;
    border: 12px solid #fff;
    box-sizing: border-box;
    margin: auto;
    cursor: pointer;
}

.photo:hover {
    border-color: rgba(255, 165, 3, .5);
}

.is-active .photo {
    border-color: #ffa503;
}

.load-more {
    display: block;
    margin: 40px auto;
    padding: 12px 20px;
    background: #aaa;
}

.load-more:hover {
    background: #ffa503;
}

.info {
    font-size: 12px;
    margin-bottom: 30px;
    color: #666;
}

@media screen {
    [contenteditable="true"] {
        background: rgba(0, 0, 0, .02);
    }

    .info {
        display: none;
    }
}

@media print {
    @page {
        size: landscape;
    }

    body {
        width: 1587px;
        -webkit-print-color-adjust: exact;
    }

    .photo {
        -webkit-print-color-adjust: exact;
    }

    form,
    .load-more,
    .photo-container:not(.is-active) {
        display: none;
    }

    .photo {
        border-color: #fff !important;
    }

    .photo { max-height: calc(50vh - 40px); }

    .photos[data-count="1"] .photo,
    .photos[data-count="2"] .photo { max-height: calc(100vh - 40px); }

    .photos[data-count="9"] .photo,
    .photos[data-count="10"] .photo,
    .photos[data-count="11"] .photo,
    .photos[data-count="12"] .photo { max-height: calc(33vh - 40px); }

    .photos[data-count="1"] .photo-container,
    .photos[data-count="2"] .photo-container,
    .photos[data-count="3"] .photo-container,
    .photos[data-count="4"] .photo-container { width: calc(50% - 40px); }

    .photos[data-count="5"] .photo-container,
    .photos[data-count="6"] .photo-container,
    .photos[data-count="7"] .photo-container,
    .photos[data-count="8"] .photo-container,
    .photos[data-count="9"] .photo-container { width: calc(33.33% - 40px); }

    .photos[data-count="10"] .photo-container,
    .photos[data-count="11"] .photo-container,
    .photos[data-count="12"] .photo-container { width: calc(25% - 40px); }
}
